.row
  .col-md-3
  .col-md-6
    %center
      %h2
        Edit #{resource_name.to_s.humanize}
    %hr/

= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  %center
    .form-inputs.half-width
      %i.fa.fa-at
      = f.email_field :email, required: true, autofocus: true, hide_label: true, placeholder: "Your email here"
      %i.fa.fa-key
      = f.password_field :password, autocomplete: "off", hide_label: true, placeholder: "new password", required: false
      %i.fa.fa-key
      = f.password_field :password_confirmation, hide_label: true, placeholder: "confirm your password"
      %i.fa.fa-key
      = f.password_field :current_password, hide_label: true, placeholder: "current password", required: true
      %i.fa.fa-toggle-on
        = f.check_box :public, label: "Public profile"
      %br/
      %br/
      .form-actions
        %button.btn.btn-success{:type => "submit"}
          %i.glyphicon.glyphicon-thumbs-up
          Update
      %br/

      %hr/
      .center
        %p
          Unhappy?
          = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
