- if user_signed_in?
	%span
	= link_to 'Exit', destroy_user_session_path, :method => :delete

%h1 Welcome to homepage
%p You can find high quality free photos below

= link_to "New search", controller: "photos", action: "new"
|
= link_to "Previous searches", controller: "photos", action: "index"
|
= link_to "List of all users", controller: "users", action: "index"
|
= link_to "Unsplash statistics", controller: "welcome", action: "stats"

%br/
%br/
%br/
= link_to "Want a random photo? Click on this link.", controller: "welcome", action: "show"

%h4 Today is #{@current_time}

= calendar(:year => @current_date.year, :month => @current_date.month)

= render "shared/email"