.row
  .col-md-3
  .col-md-6
    .center
      %h1 Unsplash statistics
      %hr/

- stats = Unsplash::Stats.total

.center
  %span.bold
    Total photos:
  = stats["total_photos"]
  %br/
  %span.bold
    Photo downloads:
  = stats["photo_downloads"]
  %br/
  %span.bold
    Views:
  = stats["views"]
  %br/
  %span.bold
    Likes:
  = stats["likes"]
  %br/
  %span.bold
    Photographers:
  = stats["photographers"]
  %br/
  %span.bold
    Downloads per second:
  = stats["downloads_per_second"]
  %br/
  %span.bold
    Views per second:
  = stats["views_per_second"]
  %br/
  %span.bold
    Developers:
  = stats["developers"]

= render "shared/navigation"
