= f.input :name
%br/
= f.input :description
%br/
= f.input :size, collection: ['raw', 'full', 'regular', 'small', "thumb"]
%br/
= f.input :quantity, placeholder: "per page"
%br/

= render partial: "form", locals: { f: f }