.row
  .col-md-3
  .col-md-6
    .center
      %h1 New search
      %hr/

      = bootstrap_form_for(@photo) do |f|
        = render "newsearch_field"
        .half-width.auto-margin
          = f.select :size, ['small', 'full', 'regular', 'raw', "thumb"]
        .half-width.auto-margin
          = f.number_field :quantity, placeholder: "per page", value: 10

= render "shared/navigation"
