%h1 Look at the #{@photo.name } pictures:

Size is: #{@photo.size} | Photos on page: #{@photo.quantity}
%br/
=link_to 'Delete this search', photo_path(@photo), method: :delete
%br/

- size = @photo.size.to_sym
- result = []
- result << search_photo(@photo.name, @photo.quantity)

- (0...@photo.quantity).each do |i|
	= image_tag result[0][i][:urls][size]

	%h2 Info about photo:
	Id:
	= result[0][i].id
	%br/
	Likes:
	= result[0][i].likes
	%br/
	Author name:
	= result[0][i].user.name
	%br/
	Author username:
	= result[0][i].user.username
	%br/
	Author portfolio link:
	= link_to result[0][i].user.portfolio_url, result[0][i].user.portfolio_url
	%br/
	= link_to 'Download this photo', result[0][i].links.download
	(#{result[0][i].width}x#{result[0][i].height})
	%br/
	%br/

= render "shared/navigation"