%h1 Look at the #{@photo.name } pictures:

Size is: #{@photo.size} | Photos on page: #{@photo.quantity}
%br/
=link_to 'Delete this search', photo_path(@photo), method: :delete
%br/

- size = @photo.size.to_sym
- result = []
- result << search_photo(@photo.name, @photo.quantity)

%table{:border => 1}
	%tbody
		%tr
			%th №
			%th Photo
			%th Information
		- (0...@photo.quantity).each do |i|
			%tr
				%td= i + 1
				%td= image_tag result[0][i][:urls][size]
				%td{:width => "100"} Id: #{result[0][i].id} Likes: #{result[0][i].likes} Author name: #{result[0][i].user.name} Author username: #{result[0][i].user.username} Author profile page: #{link_to result[0][i].user.portfolio_url, result[0][i].user.portfolio_url} #{link_to 'Download this photo', result[0][i].links.download} (#{result[0][i].width}x#{result[0][i].height})

= render "welcome/navigation"