.row
  .col-md-3
  .col-md-6
.center
  %h1 Look at the #{@photo.name} pictures
  %hr/

  Size is:
  %span.bold
    = @photo.size
  |
  Photos on page:
  %span.bold
    = @photo.quantity
  |
  = link_to 'Delete this search', photo_path(@photo), method: :delete
  %br/
  %br/

%center
  %table.main-table
    %tbody.center
      %tr
        %th №
        %th Photo
        %th Information
      - search_photo(@photo.name, @photo.quantity).each_with_index do |photo, index|
        = render "list_of_photos",
          photo: photo,
          index: index,
          size: @photo.size.to_sym,
          hide_download_button: false

= render "shared/navigation"
