%h1 Look at the #{@photo.name } picture:

Size is: #{@photo.size}
%br/

- size = @photo.size.to_sym
- result = search_photo(@photo.name, @photo.quantity)[0]
= image_tag result[:urls][size]

%h2 Info about photo:
Id:
= result.id
%br/
Likes:
= result.likes
%br/
Author name:
= result.user.name
%br/
Author username:
= result.user.username
%br/
Author portfolio link:
= link_to result.user.portfolio_url, result.user.portfolio_url
%br/
%br/
= link_to 'Download this photo', result.links.download
(#{result.width}x#{result.height})
%br/
%br/
= link_to "Back", :back
|
= link_to "Home page", controller: "welcome"