%h1 Look at the #{@photo.name } picture:

= image_tag search_photo(@photo.name, @photo.quantity)[0].urls.small
= image_tag search_photo_by_id("BeA744ATibI").urls.small

info about photo:
info here...

%br/
= link_to "Back", :back
|
= link_to "Home page", controller: "welcome"